{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="card shadow-sm p-3 w-100" style="max-width: 320px;">
        <h2 class="text-center mb-3 text-primary">Login</h2>

        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" class="needs-validation">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-2">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors.0 }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary w-100 mb-2 py-1">Login</button>

            <div class="text-center">
                <p class="small">Don't have an account? <a href="{% url 'register' %}" class="text-primary">Register here</a></p>
            </div>
        </form>
    </div>
</div>
<script src="{% static "jewelry/js/username_validator.js" %}"></script>
{% endblock %}